body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    margin-bottom: 50px;
}

#container div {
    border: 1px solid black;
}

h1 {
    text-align: center;
}